<div class="row">
  <div class="alpha four columns">
    <%= f.label(:role) %>
    <%= f.collection_select(:role_id,
                            Spree::Role.all,
                            :id, :name, {},
                            {class: 'select2 fullwidth'}) %>
  </div>

  <div class="four columns">
    <%= f.label(:min_line_item_total) %>
    <%= f.number_field(:min_line_item_total) %>
  </div>

  <div class="omega four columns">
    <%= f.label(:amount) %>
    <%= f.number_field(:amount) %>

    <% if f.object.persisted? %>
      <a
        href="#remove-<%= f.object.id %>"
        class="js-remove-row"
        data-row-object-name="<%= f.object_name %>"
        >
        <%= Spree.t(:remove) %>
      </a>
    <% end %>
  </div>
</div>
